ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fs-20 {
    font-size: 20pt;
}

.fa-linkedin-square:hover {
    color: black;
}

.fa-github:hover {
    color: black;
}

.fa-instagram:hover {
    color: black;
}

.fs-10 {
    font-size: 10pt;
}

.img-g {
    background: url(../../assets/img/bg-nav.jpg);
}