<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-white">Social:</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li class="fs-20">
                        <a href="https://www.linkedin.com/in/lcspereira/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square  text-white" aria-hidden="true"></i></a>
                    </li>

                    <li class="fs-20">
                        <a href="https://github.com/lucasspereira" target="_blank" class="icoGit">
                            <i class="fa fa-github  text-white" aria-hidden="true"></i></a>

                    </li>

                    <li class="fs-20">
                        <a href="https://www.instagram.com/upluka/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram  text-white" aria-hidden="true"></i></a>

                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copywright bg-dark text-center py-3">
        <span class="text-light fs-10">
            © 2021 | Todos os direitos reservados a Lucas Pereira | e-mail: pererira.lucas23@gmail.com | São Paulo - SP
        </span>

    </div>

</footer>