<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">

            <li class="nav-item active">
                <img src="{{foto}}" class="img-fluid rounded-circle" width="50px" height="50px" alt="Imagem Usuário">
            </li>

            <li class="nav-item pl-3">
                <p class="text-dark font-weight-bold m-0">Olá, {{nome}}</p>
            </li>

            <li class="nav-item pl-3">
                <a [routerLink]="['/user-edit', id]">
                    <i class="fa fa-pencil-square-o d-flex align-items-center fs-15 text-dark pt-1" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-dark fs-14" href="">Sair 
                    <i class="fa fa-sign-out fs-15" aria-hidden="true"></i></a>

            </li>
        </ul>
    </div>
</nav>